{% extends "base.html" %}
{% block head %}
    <script src="/static/js/this_config.js"></script>
    <script src="/static/bower_components/ckeditor/ckeditor.js"></script>
    <script src="/static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="/static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
{% endblock %}
{% block header %}
    <li class="active">{{ page_header }}</li>
{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
            {% include "itsm/log_errors.html" %}
    {% endfor %}
{% endif %}
<section class="invoice">
    <form class="bs-example bs-example-form" role="form" method="POST" action={{ action }}>{% csrf_token %}
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-globe"></i> 变更详情页
                <a class="button">
                    <span class="button small" style="color: blue" onclick="input_enable()">编辑</span></a>
                <small class="pull-right">创建时间: {{ change.dt_created }}</small>
            </h2>
        </div>
        <!-- /.col -->
    </div>
    <div class="row">
        <p><i class="fa fa-dashboard"></i><span> 变更明细</span></p>
        <div class="form-group">
            <div class="col-md-8">
                <label for="name">变更名称: </label>
                <input class="form-control" type="text" name="name" disabled="disabled" value={{ change.name }}><br>
                <input type="text" id="id" name="id" hidden="hidden" value={{ change.id }}><br>
            </div>
        </div>
        <div class="col-md-6">
            <table class="table-striped">
{#                <tr>#}
{#                    <td><label for="name">服务水平等级: </label></td>#}
{#                    <td><input class="form-control" type="text" name="emergency_degree" disabled="disabled" value={{ change.service_level }}></td>#}
{#                </tr>#}
                <tr>
                    <td><label>更新时间: </label></td>
                    <td><input class="form-control" type="text" name="dt_created" disabled="disabled" value={{ change.dt_updated }}></td>
                </tr>
                <tr>
                    <td><label>当前环节名称: </label></td>
                    <td><input class="form-control" type="text" name="node_name" disabled="disabled" value={{ change.node_name }}></td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <tr>
                <td><label>紧急度: </label></td>
                <td><select class="form-control" disabled="disabled" name="emergency_degree" >
                    <option value={{ change.emergency_degree }}>{{ change.emergency_degree }}</option>
                    {% for v, k in degree_choice_list %}
                        <option value={{ v }}>{{ k }}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td><label>变更状态: </label></td>
                <td><input class="form-control" type="text" name="state" disabled="disabled" value={{ change.state }}></td>
            </tr>
        </div>
    </div><br>
    <div class="row">
        <p><i class="fa fa-dashboard"></i><span> 人员明细</span></p>
        <div class="col-md-6">
            <table class="table-striped">
                <tr>
                    <div class="form-group">
                        <td><label>发起人: </label></td>
                        <td>
                            <input class="form-control" type="text" name="name" disabled="disabled" value={{ change.initiator }}>
                        </td>
                    </div>
                </tr>
                <tr>
                    <td><label>发起人邮箱: </label></td>
                    <td><input class="form-control" type="text" name="name" disabled="disabled" value={{ initiator_obj.email }}></td>
                </tr>
                <tr>
                    <td><label>发起人电话: </label></td>
                    <td><input class="form-control" type="text" name="name" disabled="disabled" value={{ initiator_obj.phone }}></td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table-striped">
                <tr>
                    <td><label>处理人: </label></td>
                    <td>
                        <select class="form-control" disabled="disabled" name="node_handler" >
                            <option value={{ change.node_handler }}>{{ change.node_handler.username }}</option>
                            {% for i in user_list %}
                                <option value={{ i }}>{{ i.username }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label>处理人邮箱: </label></td>
                    <td>
                        <input class="form-control" type="text" name="technician_mail"
                               disabled="disabled" value={{ change.node_handler.email }}>
                    </td>
                </tr>
                <tr>
                    <td><label>处理人电话: </label></td>
                    <td><input class="form-control" type="text" name="technician_phone" disabled="disabled" value="18922222222"></td>
                </tr>
            </table>
        </div>
    </div><br>
    <div class="row">
        <input id="instance_id" hidden value={{ change.event.instance_id }}>
        <p><i class="fa fa-dashboard"></i><span>资源明细</span></p>
        <p>
          {% if profile.org_admin %}
{#            <a href="http://{{ host }}/alert/vm?status=showNull">#}
            <a href="http://{{ host }}/business-analytics/#/alert/list">
                <span id="order_id">查看告警明细</span>
            </a>
          {% elif request.user.is_superuser %}
            <a href="http://{{ host }}/business-analytics/#/alert/list">
                <span id="order_id">查看告警明细</span>
            </a>
          {% else %}
            <a href="http://{{ host }}/alert/vm?status=showNull">
                <span id="order_id">查看告警明细</span>
            </a>
          {% endif %}
        </p>
        <div class="col-md-6">
            <table class="table-striped">
                <tr>
                    <td><label>主机名: </label></td>
                    <td><label class="form-control" id="hostname" disabled="disabled"></label></td>
                </tr>
                <tr>
                    <td><label>IP地址: </label></td>
                    <td><label class="form-control" id="localIp" disabled="disabled"></label></td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table-striped">
                <tr>
                    <td><label>公司归属: </label></td>
                    <td>
                        <label class="form-control" id="groupEnvName" disabled="disabled"></label>
                    </td>
                </tr>
                <tr>
                    <td><label>实例类型: </label></td>
                    <td>
                        <label class="form-control" id="instanceType" disabled="disabled"></label>
                    </td>
                </tr>
            </table>
        </div>
    </div><br>
    <div class="row">
        <p class="lead">流转记录:</p>
        <div class="col-xs-8">
            {% for i in solution_list %}
            <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                <label>记录: </label></br>
                {{ i.username }}<span>: </span>{{ i.dt_created }}<br>
                {{ i.content }}
            </p>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <!-- 变更处理记录提交框 -->
        <div class="col-xs-8">
            <textarea class="text text-blue"
                      placeholder="此处填写处理意见"
                      cols="90" rows="8"
                      name="solution"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <br/>
            <a href={{ change.online_plan }}>{{ change.online_plan }}</a>
            <input type="file" name="online_plan">
        </div>
    </div>
    <div class="row no-print">
        {% if display %}
            <div class="col-xs-12">
                <a href="/itsm/changes/close/{{ change.id }}"
                   class="btn btn-primary pull-right" style="margin-right: 5px;">
                    <i class="fa fa-close"></i> 关闭变更
                </a>
                {% if change.state == "ing" %}
                    <a class="btn btn-primary pull-right" style="margin-right: 5px;" onclick="change_reject()">
                        <i class="fa fa-save"></i> 驳回
                    </a>
                {% endif %}
                {% if button_submit == "提交" %}
                    <button type="submit" class="btn btn-primary pull-right" style="margin-right: 5px;">
                        <i class="fa fa-save"></i> {{ button_submit }}
                    </button>
                {% endif %}
                {% if button_submit == "同意" %}
                    <button type="submit" class="btn btn-primary pull-right" style="margin-right: 5px;">
                        <i class="fa fa-save"></i> {{ button_submit }}
                    </button>
                {% endif %}
            </div>
        {% endif %}
    </div>
    </form>
</section>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {

            // instance list query
            var instance_id = $("#instance_id").val();
            $.ajax({
                type:"GET",
                url:"/itsm/cloud/resource_info/",
                data:{"instance_id": instance_id},
                success: function (ret) {
                    console.log(ret["localIp"]);
                    $("#hostname").html(ret["hostname"]);
                    $("#localIp").html(ret["localIp"]);
                    $("#instanceType").html(ret["instanceType"]);
                    $("#groupEnvName").html(ret["groupEnvName"]);
                }
            });

        })
    </script>
{% endblock %}