{% extends "base.html" %}
{% block head %}
    <script src="/static/js/this_config.js"></script>
{% endblock %}
{% block PHeader %}
    <h1>
        配置管理
    </h1>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="/static/js/img/vstecs.png" alt="logo">

              <h3 class="profile-username text-center">{{ org_name }}</h3>

              <ul class="list-group list-group-item-success">
                <li class="list-group-item">
                  <a href="#department_config" data-toggle="tab">部门维护</a>
                </li>
{#                <li class="list-group-item">#}
{#                  <a href="#flow_module" data-toggle="tab">工作流模板</a>#}
{#                </li>#}
{#                <li class="list-group-item">#}
{#                  <a href="#flow_module" data-toggle="tab">事件紧急度</a>#}
{#                </li>#}
{#                <li class="list-group-item">#}
{#                  <a href="#event_type" data-toggle="tab">事件类型</a>#}
{#                </li>#}
{#                <li class="list-group-item">#}
{#                  <a href="#event_status" data-toggle="tab">事件状态</a>#}
{#                </li>#}
{#                <li class="list-group-item">#}
{#                  <a href="#change_type" data-toggle="tab">变更类型</a>#}
{#                </li>#}
                <li class="list-group-item">
                  <a href="#sla_conf" data-toggle="tab">SLA配置</a>
                </li>
                <li class="list-group-item">
                  <a href="#overview" data-toggle="tab" id="all">配置总览</a>
                </li>
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            {% include "itsm/config_tabs.html" %}
        </div>
        <!-- /.col -->
      </div>
{% endblock %}