*{margin:0px; padding:0px;}
body{ color:#687f96; font-size:12px;}
body img{ border:0px;}
.clear{ clear:both;}
ul{list-style-type: none;}
a{ color:#687f96; text-decoration:none;}
.zhong { width:1120px; margin:0 auto;}
.top{ height:73px;background:url(../images/bg_1.gif) repeat-x;padding:0 24px;}
.top_left{ float:left; margin-top:14px;}
.top_right{ float:right; margin-top:15px; text-align:right;}
.top_right_1{padding-right:35px;}
.top_right_1,.top_right_1 a{ color:#0473a9;}
.clearfix:after{content:"&nbsp;";display:block;height:0;clear:both;visibility:hidden;}.clearfix{display:inline-block;}
.menu{background:url(../images/bg_2.gif) repeat-x; height:52px;padding-left:80px;}
.menusel{ float:left;width:115px; position:relative; margin-top:20px;;z-index:2;}
.menusel h2{ font-size:14px; height:32px; font-weight:bold;z-index:2;}
.menusel a{text-align:center; width:130px;height:25px;  position:relative; z-index:2; color:#fff;}
.position{ position:absolute; z-index:2; margin-left:-10px;}
.menusel ul{width:130px; background:#608ab3;margin-top: -1px; position:relative; z-index:2; display:none;}
.menusel .block{ display:block;}
.typeul li{border-bottom:1px solid #fff;width:124px; position:relative; float:left; height:35px; line-height:35px; padding-left:6px;z-index:2;}
.typeul{  margin-left:0; z-index:2; }
.typeul ul{left:130px; top:0; position:absolute;z-index:2;}
.fli{ margin-top:1px;}
.menusel .lli{ border:none; }
.main{background:url(../images/bg_7.gif) repeat-x; min-height:573px;_height:573px; padding:22px 37px 0 25px;}
.left{ width:320px; float:left; overflow:hidden;}
.left_title{ color:#fff;background:url(../images/bg_3.gif) repeat-x; height:22px; line-height:22px;border:solid 1px #206292; padding-left:9px; margin-bottom:8px;}
.input_1{background:url(../images/bg_4.gif) no-repeat; width:121px; height:23px; line-height:23px; border:0px;}
.input_2{background:url(../images/bg_5.gif) no-repeat; width:121px; height:23px; line-height:23px; border:0px;}
.input_3{background:url(../images/bg_6.gif) no-repeat; width:64px; height:23px; line-height:23px; border:0px;}
.box_1{ margin-bottom:28px;}
.left_nr li{background:url(../images/dian.gif) no-repeat 13px 6px; padding-left:25px; height:20px; line-height:20px;}
.right{ float:right; width:700px;}
.right_top_img{ text-align:right; padding-bottom:35px;}
.news{float:right; width:665px; }
.news_title{border-bottom: dashed 1px #84888a; width:666px; height:30px; margin-bottom:12px;}
.news_title span{ float:left;}
.news_title a{float:right; margin-top:10px;}
.news table a{background:url(../images/dian_2.gif) no-repeat 0 6px; padding-left:10px;}
.huoban{ margin:20px 0 15px 0;}
.huoban_title{background:url(../images/img_9.gif) no-repeat 6px 0; padding-left:35px; height:30px;}
.huoban_nr{ background:#fff; padding:11px 0; border-top:solid 1px #c6d0da;border-bottom:solid 1px #c6d0da;}
.huoban_nr li{ float:left; margin-left:24px; display:inline;}
.bottom{ background:url(../images/bg_8.gif) repeat-x; height:189px; text-align:center; padding-top:15px;}
.meun_2{height:33px; line-height:33px; color:#1E90FF;background:#1E90FF url(../images/img_10.gif) no-repeat 13px 15px; padding-left:33px;}
.meun_2 a{ color:#fff;}
.left_news ul{ width:300px;}
.left_news li{ border-bottom:dashed 1px #84888a; height:35px; line-height:35px; padding-left:10px;}
.left_news li a{background:url(../images/img_11.gif) no-repeat 158px 0; padding-right:200px; color:#39485b;}
.left_news li a:hover,.left_news li a.hover{background:url(../images/img_12.gif) no-repeat 158px 0;color:#005289; font-weight:bold;}
.right_title{background: url(../images/img_8.gif) no-repeat;padding-left:37px;height:38px;border-bottom:solid 1px #84888a; padding-top:3px;}
.right_title img{ float:left;}
.right_title div{ float:right; color:#686868;}
.right_title div span{color:#01548d;}
.liebiao ul{ padding:10px 0;border-bottom:solid 1px #84888a; margin-bottom:15px;}
.liebiao li{ height:24px; line-height:24px;}
.liebiao li a{ float:left;}
.liebiao li span{ float:right;}
.fanye_left{float:left;color:#01548e;}
.fanye_right{float:right; color:#222;}
.fanye_right a{ font-weight:bold; margin:0 4px; display:inline;}
.right_title b{float:left; font-size:16px; color:#01548e;}
.xiangqing{ line-height:24px;}
.laiyuan{ text-align:right;color:#01548e;padding:20px 0;}


.top-font01 {
	font-family: "宋体";
	font-size: 12px;
	color: #448CCB;
	text-decoration: none;
}
a.top-font01:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
}
.left-table01 {
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #B8C9D6;
	margin-left: 14px;
}
.left-table02 {
	margin-top: 8px;
	margin-bottom: 8px;
	font-family: "宋体";
	font-size: 12px;
	color: #555555;
	text-decoration: none;
}
.left-table03 {
	margin-top: 6px;
	font-family: "宋体";
	font-size: 12px;
	color: #555555;
	text-decoration: none;
	background-image: url(../images/nav02.gif);
}
a.left-table03:hover {
	background-image: url(../images/nav03.gif);
}
.left-table04 {
	font-family: "宋体";
	font-size: 12px;
	color: #555555;
	text-decoration: none;
	background-image: url(../images/nav03.gif);
	margin-top: 6px;
}

.left-font01 {
	font-family: "宋体";
	font-size: 12px;
	color: #448CCB;
	text-decoration: none;
	filter: DropShadow(Color=#FFFFFF, OffX=1, OffY=1);
}
a.left-font01:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
	filter: DropShadow(Color=#FFFFFF, OffX=1, OffY=11,);
}

.left-font02 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #448CCB;
	text-decoration: none;
	filter: DropShadow(Color=#FFFFFF, OffX=1, OffY=1);
}
.left-font03 {
	font-family: "宋体";
	font-size: 12px;
	color: #555555;
	text-decoration: none;
}
a.left-font03:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
}
.right-table01 {
	background-image: url(../images/button01.gif);
	text-align: center;
	height: 40px;
	float: left;
	width: 117px;
}
.right-font01 {
	font-family: "宋体";
	font-size: 12px;
	color: #A1A1A1;
	text-decoration: none;
	filter: 
        Dropshadow(offx=1,offy=0,color=white)
        Dropshadow(offx=0,offy=1,color=white)
        Dropshadow(offx=0,offy=-1,color=white)
        Dropshadow(offx=-1,offy=0,color=white);
}
a.right-font01:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
	filter: 
        Dropshadow(offx=1,offy=0,color=white)
        Dropshadow(offx=0,offy=1,color=white)
        Dropshadow(offx=0,offy=-1,color=white)
        Dropshadow(offx=-1,offy=0,color=white)
}
.right-font02 {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #4EA1CB;
	text-decoration: none;
	filter: 
        Dropshadow(offx=1,offy=0,color=white)
        Dropshadow(offx=0,offy=1,color=white)
        Dropshadow(offx=0,offy=-1,color=white)
        Dropshadow(offx=-1,offy=0,color=white);
}
a.right-font02:hover {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: underline;
	filter: 
        Dropshadow(offx=1,offy=0,color=white)
        Dropshadow(offx=0,offy=1,color=white)
        Dropshadow(offx=0,offy=-1,color=white)
        Dropshadow(offx=-1,offy=0,color=white);
}
.right-table02 {
	background-image: url(../images/button02.gif);
	float: left;
	height: 40px;
	width: 117px;
	text-align: center;
}
.right-table03 {
	margin-top: 16px;
	margin-bottom: 20px;
}
.right-table04 {
	padding-top: 3px;
	padding-left: 7px;
}
.right-table05 {
	margin-left: 2px;
	margin-top: 12px;
}
.right-table06 {
	margin-top: 2px;
	margin-right: 2px;
	margin-left: 2px;
}
.right-table07 {
	margin-top: 16px;
	margin-left: 20px;
	margin-bottom: 40px;
}
.right-table08 tr{wfsr:expression(this.bgColor=this.rowIndex%2?'#EBEBEB':'#FFFFFF');}
.right-table08 td{font-size:12px;font-family:宋体;height:30px;}
.right-table08 {
	text-decoration:none;
	color:#555555;
	font-family: "宋体";
 }
.right-table08 a:visited{
 text-decoration:none;
 color:#555555;
}
.right-table09 {
	float: left;
	margin-right: 16px;
}
.right-table10 {
	margin-top: 16px;
	margin-bottom: 20px;
	margin-left: 16px;
}
.right-font03 {
	font-family: "宋体";
	font-size: 12px;
	color: #555555;
	text-decoration: none;
	padding-top: 4px;
	padding-left: 2px;
	text-align: right;
}
a.right-font03:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
}

.right-font04 {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
a.right-font04:hover {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}

.right-font05 {
	font-family: "宋体";
	font-size: 12px;
	color: #769ED9;
	text-decoration: none;
	line-height: 18px;
}
.right-font06 {
	font-family: "宋体";
	font-size: 12px;
	color: #6C7494;
	text-decoration: none;
	padding-top: 3px;
}
.right-font07 {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #4EA1CB;
	text-decoration: none;
	filter: 
        Dropshadow(offx=1,offy=0,color=white)
        Dropshadow(offx=0,offy=1,color=white)
        Dropshadow(offx=0,offy=-1,color=white)
        Dropshadow(offx=-1,offy=0,color=white);
}
.right-font08 {
	font-family: "宋体";
	font-size: 12px;
	color: #555555;
	text-decoration: none;
}
a.right-font08:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
}
.right-text09 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #F26521;
	text-decoration: none;
}
.right-text10 {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.right-table11 {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #6C7494;
	border-bottom-color: #6C7494;
	border-left-color: #6C7494;
}
.right-table12 {
	text-align: center;
	float: left;
	margin-right: 3px;
	background-image: url(../images/button11.gif);
	height: 24px;
	width: 86px;
	font-family: "宋体";
	font-size: 12px;
	color: #555555;
	font-weight: bold;
	padding-top: 4px;
}
.right-table13 {
	background-image: url(../images/button12.gif);
	text-align: center;
	float: left;
	height: 24px;
	width: 86px;
	margin-right: 3px;
	font-family: "宋体";
	font-size: 12px;
	color: #555555;
	padding-top: 4px;
}
.right-table14 {
	margin-top: 16px;
	margin-bottom: 20px;
	margin-left: 8px;
	margin-right: 0px;
}
.right-table15 {
	background-color: #82BEFF;
	padding: 6px;
	border: 1px solid #E2EFF5;
	font-family: "宋体";
	font-size: 13px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 18px;
}
.right-table16 {
	margin-bottom: 8px;
	font-family: "宋体";
	font-size: 12px;
	color: #555555;
	text-decoration: none;
}

.right-textfield01 {
	width: 306px;
}
.right-textfield02 {
	height: 21px;
	width: 142px;
}
.right-textfield03 {
	font-family: Tahoma;
	font-size: 11px;
	color: #555555;
	text-decoration: none;
	height: 14px;
}
.right-textfield04 {
	font-family: "宋体";
	font-size: 12px;
	color: #3C3C3C;
	text-decoration: none;
	height: 14px;
	width: 86px;
}
.right-textfield05 {
	font-family: "宋体";
	font-size: 12px;
	color: #3C3C3C;
	text-decoration: none;
	height: 21px;
	width: 235px;
}
.right-textfield06 {
	font-family: "宋体";
	font-size: 12px;
	color: #3C3C3C;
	text-decoration: none;
	height: 14px;
	width: 210px;
}
.right-textfield07 {
	font-family: "宋体";
	font-size: 12px;
	color: #3C3C3C;
	text-decoration: none;
	height: 14px;
	width: 35px;
}
.right-textfield08 {
	font-family: "宋体";
	font-size: 12px;
	color: #3C3C3C;
	text-decoration: none;
	height: 14px;
	width: 132px;
}
.right-button01 {
	font-family: "宋体";
	font-size: 12px;
	color: #174B73;
	height: 20px;
	width: 63px;
	background-image: url(../images/button03.gif);
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.right-button02 {
	font-family: "宋体";
	font-size: 12px;
	color: #174B73;
	height: 20px;
	width: 45px;
	background-image: url(../images/button04.gif);
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.right-button03 {
	font-family: "宋体";
	font-size: 12px;
	color: #174B73;
	height: 20px;
	width: 123px;
	background-image: url(../images/button05.gif);
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.right-button04 {
	font-family: "宋体";
	font-size: 12px;
	color: #174B73;
	height: 20px;
	width: 87px;
	background-image: url(../images/button06.gif);
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.right-button05 {
	font-family: "宋体";
	font-size: 12px;
	color: #174B73;
	height: 20px;
	width: 22px;
	background-image: url(../images/button07.gif);
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.right-button06 {
	font-family: "宋体";
	font-size: 12px;
	color: #174B73;
	height: 20px;
	width: 24px;
	background-image: url(../images/button08.gif);
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.right-button07 {
	font-family: "宋体";
	font-size: 12px;
	color: #174B73;
	height: 20px;
	width: 75px;
	background-image: url(../images/button09.gif);
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.right-button08 {
	font-family: "宋体";
	font-size: 12px;
	color: #174B73;
	height: 20px;
	width: 99px;
	background-image: url(../images/button10.gif);
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.login-text01 {
	font-family: "宋体";
	font-size: 12px;
	color: #7F9DB9;
	text-decoration: none;
}
a.login-text01:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
}
.login-text02 {
	font-family: "宋体";
	font-size: 13px;
	color: #7F9DB9;
	text-decoration: none;
	text-align: right;
	padding-top: 4px;
}
.login-text03 {
	font-family: "宋体";
	font-size: 12px;
	color: #0E69C7;
	text-decoration: underline;
}
a.login-text03:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
}
.login-text04 {
	font-family: "宋体";
	font-size: 12px;
	color: #ACACAC;
	text-decoration: none;
	line-height: 20px;
}
a.login-text04:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
	line-height: 20px;
}
.login-text05 {
	font-family: "宋体";
	font-size: 14px;
	color: #6890D2;
	text-decoration: none;
}
.login-text06 {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.newtable01 {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	float: left;
	background-image: url(../images/navbutton01.gif);
	margin-right: 2px;
}
.navtable02 {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	text-align: center;
	float: left;
	background-image: url(../images/navbutton02.gif);
	margin-right: 2px;
}
.newfont01 {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a.newfont01:hover {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}
.newfont02 {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a.newfont02:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
}
.newfont03 {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a.newfont03:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
}

.newfont04 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	text-decoration: line-through;
}
.newfont05 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	text-decoration: none;
}
.newfont06 {
	font-family: "宋体";
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}
.newfont07 {
	font-family: "宋体";
	font-size: 13px;
	font-weight: bold;
	color: #174B73;
	text-decoration: none;
}
.newfont08 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FF0000;
	text-decoration: none;
	font-weight: bold;
}
.newfont09 {
	font-family: "宋体";
	font-size: 13px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}
.newfont10 {
	font-family: "宋体";
	font-size: 13px;
	font-weight: bold;
	color: #000000;
}
.navtable04 {

	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	text-align: center;
	float: left;
	background-image: url(../images/navbutton04.gif);
	margin-right: 2px;
}
.newtable03 {

	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	float: left;
	background-image: url(../images/navbutton03.gif);
	margin-right: 2px;
}
.mxfont01 {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	color: #333333;
	text-decoration: none;
}
.dhfont01 {
	font-family: "宋体";
	font-size: 16px;
	font-weight: bold;
	color: #174B73;
	text-decoration: none;
}
.dhfont02 {
	font-family: "宋体";
	font-size: 16px;
	font-weight: bold;
	color: #9D080D;
}
.dhfont03 {
	font-family: "宋体";
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	text-decoration: none;
}
.dhfont04 {
	font-family: "宋体";
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	text-decoration: none;
}
.dhfont05 {
	font-family: "宋体";
	font-size: 16px;
	font-weight: bold;
	color: #177B2F;
	text-decoration: none;
}
.dhfont06 {
	font-family: "宋体";
	font-size: 16px;
	font-weight: bold;
	color: #FF0000;
}
.dhfont07 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FF0000;
}

.dhtextfiled {
	font-family: "宋体";
	font-size: 16px;
	height: 30px;
	color: #000000;
	padding-top: 5px;
}


.dhbutton01 {
	font-family: "宋体";
	font-size: 16px;
	color: #004A80;
	text-align: center;
	background-image: url(../images/dhbutton01.gif);
	height: 30px;
	width: 128px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.dhbutton02 {
	font-family: "宋体";
	font-size: 16px;
	color: #803600;
	text-align: center;
	height: 30px;
	width: 128px;
	background-image: url(../images/dhbutton02.gif);
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
.dhbutton03 {
	font-family: "宋体";
	font-size: 16px;
	color: #80003C;
	text-decoration: none;
	background-image: url(../images/dhbutton03.gif);
	height: 30px;
	width: 128px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
.dhbutton04 {
	font-family: "宋体";
	font-size: 16px;
	color: #000980;
	background-image: url(../images/dhbutton04.gif);
	height: 30px;
	width: 128px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
.dhbutton05 {
	font-family: "宋体";
	font-size: 16px;
	color: #004A80;
	background-image: url(../images/dhbutton05.gif);
	height: 30px;
	width: 81px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
